<body>  
  
  <div id="ticket-details">
    <table class="details" border="1">
      <h5 align="right"><b>Ticket Details</b></h5>
      <tr>  
        <td>Project Name  </td><td><!--<input type="text">-->Unassigned</td>
      </tr> 
      <tr>  
        <td>Create Date </td><td><input type="date" rows:50 columns:50 placeholder="mm/dd/yyyy"></td>
      </tr>
      <tr>  
        <td>Assignee </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Assigned To </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Status </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Due Date </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Priority </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      
</table>

<table class="description">
  <tr>  
    <td>Description </td><td><!--<input type="text">-->Unassigned</td>
  </tr>
</table>

</div>

</body>