body{
  background-color: white;/* steelblue; */
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: larger;
 font-weight: bolder;
}

 .reddit-icon-svg{
 
   height: 50px;
 
   padding: 8px 8px 8px 0;
 
   width: 50px;
 
 }
 
 .ticket-details{
     padding: 100px 100px;
  }
 
 .reddit-text{
 
   font-weight: 700;
 
   font-size: 20px;
 
   height: 50px;
 
   width: 50px;
 
   color: steelblue;
 
 }
 
 .logo{
 
   text-decoration: none;
 
 }

.details{
 width: 30em;
}

.description{
 float: left;
}

#ticket-details{
 text-align: center;
 border-width: 5px;
 float: right;
 padding: 1em;
}

#ticket-description{
 margin-top: 10px;
 float: left;
 text-align: left;
 margin-left: 10px;
}
#comments-section{
  margin-top: 10px;
  float: right;
  padding: 1em;
}

#ticket-description{
  margin-top: 10px;
  float: left;
  text-align: left;
  margin-left: 10px;
}
  text-align: left;
  margin-left: 10px;
 }
