<body>  
  
  <div id="ticket-details">
    <table class="details" border="1">
      <h5 align="right"><b>Ticket Details</b></h5>
      <a routerLink="/editTicket" class="float-right sign-up mr-2">Edit Ticket</a>

      <tr>  
        <td>Project Name  </td><td><!--<input type="text">-->Unassigned</td>
      </tr> 
      <tr>  
        <td>Create Date </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Assignee </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Assigned To </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Status </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Due Date </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      <tr>  
        <td>Priority </td><td><!--<input type="text">-->Unassigned</td>
      </tr>
      
</table>
</div>

<div id="ticket-description">
  <table class="description">
    <dl>
      <h4>DESCRIPTION</h4>
      <dt>
        Description will come here
      </dt>
    </dl>
  </table>
</div>

<div id="comments-section">
  <table class="comments">
    <dl>
      <h4>Comments</h4>
      <input type="text" placeholder="Add a comment...">
    </dl>
  </table>
</div>
</body>