<body>
    <!-- <div class="center"> -->
      <div class="container">
       
        <div class="panel">
          <div class="header">
            <div class="menuopen">
              <div class="menu__icon">
                <div class="line1 stopped"></div>
                <div class="line2 stopped"></div>
                <div class="line3 stopped"></div>
              </div>
            </div>
            <div class="header__title">Notifications</div>
            <div class="search"><span class="fa fa-search"></span></div>
            
          </div>
          <div class="content__contain">
            <div class="line"></div>
            <div class="noti">
              <div class="circle"></div>
              <div class="time">11:25 PM <span class="new">-New</span></div>
              <div class="noti__text">Your cube is parked <span class="noti__text--bold">illegally</span>. You have 10 minutes to move your cube.</div>
            </div>
            <div class="noti">
              <div class="circle"></div>
              <div class="time">10:14 AM</div>
              <div class="noti__text">Your car has been towed and crushed into a cube.</div>
            </div>
            <div class="noti">
              <div class="circle"></div>
              <div class="time">9:35 AM</div>
              <div class="noti__text">Your car is parked <span class="noti__text--bold">illegally</span>. You have 10 minutes to move your car.</div>
            </div>
          </div>
        </div>
      </div>

  </body>